body {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
}
.parent {
  background-image: url("./assets/backimage.jpeg");
  background-size: cover;
  background-repeat: repeat;
  margin-bottom: 50px;

  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f0e68c;
}
.form-control {
  background-color: black;
}
.form-control::placeholder {
  color: white;
}
.img-thumbnail {
  transition: transform 0.3s ease;
}

.img-thumbnail:hover {
  transform: scale(1.1);
  border-color: #454035;
}
.Table {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}

.Gallery {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}

.Map {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
}

.Address {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
}

.Footer {
  background-color: #373331;
  height: 40vh;
  width: 100vw;
  padding-top: 30px;
}

/* 320px */
/* @media only screen and (max-width: 320px) {
  body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 320px) {
  .parent {
    height: 110vh;

    overflow: hidden;
  }
}

@media only screen and (max-width: 320px) {
  .Table {
    height: 135vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 320px) {
  .Gallery {
    height: 300vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 320px) {
  .Map {
    height: 100vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 320px) {
  .Address {
    overflow: hidden;
    height: 180vh;
  }
}
@media only screen and (max-width: 320px) {
  .Footer {
    overflow: hidden;
    height: 190vh;
  }
} */
/* 375px */
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 600px) {
  .parent {
    height: 100vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Table {
    height: 95vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Gallery {
    height: 320vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Map {
    height: 80vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Address {
    overflow: hidden;
    height: 125vh;
  }
}
@media only screen and (max-width: 600px) {
  .Footer {
    overflow: hidden;
    height: 130vh;
  }
}
/* 425px */
/* @media only screen and (max-width: 425px) {
  body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 425px) {
  .parent {
    height: 110vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 425px) {
  .Table {
    height: 135vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 425px) {
  .Gallery {
    height: 520vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 425px) {
  .Map {
    height: 100vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 425px) {
  .Address {
    overflow: hidden;
    height: 180vh;
  }
}
@media only screen and (max-width: 425px) {
  .Footer {
    overflow: hidden;
    height: 190vh;
  }
} */
/* 768px */
/* @media only screen and (max-width: 768px) {
  body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .Footer {
    overflow: hidden;
    height: 95vh;
  }
} */
/* 1024px */
/* @media only screen and (max-width: 1024px) {
  .Footer {
    overflow: hidden;
    height: 190vh;
  }
} */
/* @media only screen and (max-width: 1024px) {
  .googlemap {
    width: 206vh;

    overflow: hidden;
  }
} */
