body {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
}
.parent {
  background-image: url("./assets/backimage.jpeg");
  background-size: cover;
  background-repeat: repeat;
  margin-bottom: 50px;

  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f0e68c;
}
.form-control {
  background-color: black;
}
.form-control::placeholder {
  color: white;
}
.img-thumbnail {
  transition: transform 0.3s ease;
}

.img-thumbnail:hover {
  transform: scale(1.1);
  border-color: #454035;
}
.Table {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}

.Gallery {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}

.Map {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
}

.Address {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
}

.Footer {
  background-color: #373331;
  height: 40vh;
  width: 100vw;
  padding-top: 30px;
}
/* .Menu {
  height: 100vh;
  background-color: black;
  margin-bottom: 0%;
}
.title:hover {
  color: #f0e68c;
} */

/* 600px */
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .parent {
    height: 100vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Table {
    height: 93vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Gallery {
    height: 315vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Map {
    height: 75vh;

    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .Address {
    overflow: hidden;
    height: 120vh;
  }
}
@media only screen and (max-width: 600px) {
  .Footer {
    overflow: hidden;
    height: 126vh;
  }
}
